.li-active {
    background-color: #0e0e0e !important;
}

.profile-pic {
    margin-right: 10px !important;
    height: 30px !important;
    width: 30px !important;
}

.nav-btn {
    background-color: transparent;
    text-transform: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav {
    background-color: #1d1d1d;
}

.nav-wrapper > a {
    font-size: 20px !important;
}

.login-btn > i {
    margin-right: 15px;
    float: left;
}

@media only screen and (max-width: 600px) {
    .nav-wrapper > a {
        font-size: 16px !important;
    }

    a.nav-btn {
        height: 100%;
    }

    .profile-pic {
        margin: 0 !important;
    }

    .nav-btn > span, .nav-btn {
        content-visibility: hidden !important;
    }

    .login-btn > span {
        display: none !important;
    }

    .login-btn > i {
        margin: 0;
    }
}